.todo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    background-color: aqua;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}
.status{
    display: flex;
    gap: 5px;
    padding: 10px;

}
.tasks {
    display: flex;
    width: 500px;
    background-color: black;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;    

}
#add-btn {
    margin-left: auto;
    border: none;
    border-radius: 10px;

}
#task-input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: none

}