*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
}

.todo-container {
    display: flex;
    background-color: #efefef;
    width: 100%;
    height: 100vh;

    
}


#add-btn {
    border: none;
    border-radius: 5px;
    background-color: #3454d1;
    height: 35px;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;

}

#notice-btn {
    background-color: #ffffff;
    border: none;
}
#search {
    background-color: #ffffff;
    border: none;
}
.left-nav {
    width: 250px;
    min-width: 250px;
    background-color: #ffffff83;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-color: #ffffffba;
    font-family: P;
    gap: 20px;
}
.main-area {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.nav-bar {
    background-color: #ffffff;
    border-color: #ffffff;
    height: 70px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    margin-left: 0;
}
.nav-actions {
    margin-left: auto;
    display: flex;
    gap: 50px;
}
.content-area {
    flex: 1;
    background-color: #efefef;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    width: 100;
    gap: 20px;

}
.status {
    display: flex;
    align-items: center;
    gap: 10px;
}
.left-nav button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 5px 10px;  
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
}
.left-nav button:hover {
    background-color: #3454d130;
    color: #3454d1ff;
}
.left-nav button img {
    stroke: #3454d1;
}
.nav-actions button {
    display: flex;
    align-items: center;
}
#logo {
  width: auto;   /* good for sidebars */
  height: 30px;   /* keep aspect ratio */
}
.nav-bar h2 {
    font-weight: 650;
}
.content-area h2 {
    font-weight: 650;
    font-size: 30px;
    text-align: left;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.content-area input {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.main-area {
     display: flex;
  flex-direction: column;
  height: 100%;
}
.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-list-ul li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
#task-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#task-list-ul input[type="checkbox"] {
  transform: scale(1);
}

